<div class="container">

  <h1>Twitter</h1>
  <h2></h2>
  <form class = "form" method="post" action="#">
  <input type = "text" name = "tweet" >
  <input type = "submit" value="tweet" class="tweetbutton">

</form>

</div>
